// ============================================
// COLOR PALETTES SCSS
// ============================================

$primary-color: #ff685b;
$danger-color: #e74040;
$separator_alert:#ff8929;
// text
$text-color: #252b42;
$second-text-color: #737373;
$light-text-color:#FFFFFF;

// Button
$btn_primary: #ff685b;
$btn_primary_hover: #fd5545;
$btn_primary_active: rgb(250, 70, 53);
$btn_primary_disabled: #d1908a;

$btn_second: #e74040;
$btn_second_hover: #4a5ce9;
$btn_second_active: #8995ed;
$btn_second_disabled: #c5c4cc;

$btn_danger: #e74040;
$btn_danger_hover: #4a5ce9;
$btn_danger_active: #8995ed;
$btn_danger_disabled: #c5c4cc;

// Background
$bg_white:#FFFFFF;
