$font-family: (
  R: Montserrat,
);

$font-size: (
  XXS: 12px,
  XS: 14px,
  S: 15px,
  SM: 16px,
  M: 18px,
  ML: 20px,
  //   L: 22px,
  //   LX: 28px,
  //   XL: 32px,
  //   XXL: 40px,
  XXXL: 58px,
);

$line-height: (
//   XXS: 14px,
  XS: 20px,
  S: 22px,
  SM: 24px,
//   M: 34px,
//   L: 36px,
//   XL: 40px,
  XXXL: 80px,
);

$font-weight: (
  L: 300,
  R: 400,
  M: 500,
  SB: 600,
  B: 700,
);
