.layoutmain {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 80px;
  width: 100%;
  &_main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1046px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .layoutmain {
    gap: 38px;
  }
}
